<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <title>{% block title %}School Store{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default ">

      <button style="background-color:red; " class="btn btn-danger m-2  "><a href="{% url 'logout' %}"  role="button" style="text-decoration: none;color:white; " >Logout</a></button>

</nav>

 <div class="container">
    <div class="col-md-12 well">
       <center> <h2 class="text-primary">SCHOOL STORE </h2></center>
        <hr style="border-top:1px dotted #ccc;"/>

  {% block content %} {% endblock %}

    </div>
    </div>
<style>
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

table.center {
  margin-left: auto;
  margin-right: auto;
}
body{
background-image:url("{% static 'img/schoolwall.jpg' %}");
background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
</style>
</body>
</html>
