<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    <meta charset="UTF-8">
    <title>SchoolStore</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>



.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 75%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body{
background-image:url("{% static 'img/wall.jpg' %}");
background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

</style>
</head>



<body >
<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="{% static 'img/storelogo.jpg' %}" width="130px" height="80px" alt="">
        <a href="{% url 'person_add' %}" style="float:right" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Order</a>
  </a>
</nav>
<!--<div class ="container">-->
<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  <img class=" col-4 mx-auto" src="{% static 'img/storelogo.jpg' %}" alt="book" height="90px" width="200px"></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <img class="my_image my_image_padding"   src="{% static 'img/wall.jpg' %}" alt=""   >&ndash;&gt;-->
<!--  <div class="container">-->
<!--    <div class="center">-->
<!--&lt;!&ndash;  <a href="{% url 'person_add' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Order</a>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
</body>
</html>